In [2]:
import pandas as pd

In [4]:
recast_2018 = pd.read_pickle('./pp2BB_test/Events/run_05/cdfo_500_50.0_tau_1e-02_atlas_2018_13.pcl')
recast_2016 = pd.read_pickle('./pp2BB_test/Events/run_05/cdfo_500_50.0_tau_1e-02_atlas_2016_08.pcl')

In [5]:
recast_2016.T

                                  0
Luminosity (1/fb)              32.8
$N_s$                         466.3
AccEff                      0.03788
Total                (12310.0, 1.0)
Jet+MET selection  (4118.0, 0.3345)
DV selection       (466.3, 0.03788)
mLLP                          500.0
mLSP                           50.0
width                           0.0
tau_ns                         0.01
Total MC Events                2000
Total xsec (pb)            0.375317

In [6]:
recast_2018.T

                                    0                  1
Luminosity (1/fb)               139.0              139.0
SR                             HighPT          Trackless
$N_s$                           21.17              119.7
AccEff                       0.000406           0.002295
Total                  (52170.0, 1.0)     (52170.0, 1.0)
Jet selection         (130.4, 0.0025)    (2035.0, 0.039)
DV selection       (21.17, 0.0004058)  (119.7, 0.002295)
mLLP                            500.0              500.0
mLSP                             50.0               50.0
width                             0.0                0.0
tau_ns                           0.01               0.01
Total MC Events                  2000               2000
Total xsec (pb)              0.375317           0.375317

In [16]:
recast_2018 = pd.read_pickle('./pp2BB_test/Events/run_08/cdfo_500_450.0_tau_1e-02_atlas_2018_13.pcl')
recast_2016 = pd.read_pickle('./pp2BB_test/Events/run_08/cdfo_500_450.0_tau_1e-02_atlas_2016_08.pcl')

In [17]:
recast_2016.T

                                    0
Luminosity (1/fb)                32.8
$N_s$                           5.482
AccEff                       0.000443
Total                  (12360.0, 1.0)
Jet+MET selection     (822.1, 0.0665)
DV selection       (5.482, 0.0004434)
mLLP                            500.0
mLSP                            450.0
width                             0.0
tau_ns                           0.01
Total MC Events                  2000
Total xsec (pb)              0.376919

In [18]:
recast_2018.T

                                0               1
Luminosity (1/fb)           139.0           139.0
SR                         HighPT       Trackless
$N_s$                         0.0             0.0
AccEff                        0.0             0.0
Total              (52390.0, 1.0)  (52390.0, 1.0)
Jet selection          (0.0, 0.0)  (26.2, 0.0005)
DV selection           (0.0, 0.0)      (0.0, 0.0)
mLLP                        500.0           500.0
mLSP                        450.0           450.0
width                         0.0             0.0
tau_ns                       0.01            0.01
Total MC Events              2000            2000
Total xsec (pb)          0.376919        0.376919

In [13]:
recast_2018 = pd.read_pickle('./ATLAS-SUSY-2018-13/pp2BB_test_2018.pcl')
recast_2016 = pd.read_pickle('./ATLAS-SUSY-2016-08/pp2BB_test_2016.pcl')